.footer {
    width: 100%;
    background: #000;
    color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.5rem 2.5rem 0.5rem 2.5rem; */
    padding: 3rem 15vw;
    font-family: inherit;
    font-size: 1rem;
    min-height: 48px;
    box-sizing: border-box;
    /* border:  1px solid red; */
}
.left {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.logo {
    height: 52px;
    width: auto;
    display: block;
}
.role {
    font-size: 1.05rem;
    font-weight: 400;
    color: #eaeaea;
    opacity: 0.85;
    margin-left: 0.3rem;
    border-left: 3px solid #eaeaea;
    padding-left: 0.3rem;
}
.right {
    display: flex;
    align-items: center;
}
.copyright {
    font-size: 1.05rem;
    color: #bdbdbd;
    opacity: 0.85;
    font-weight: 400;
}
.copyright b {
    color: #fff;
    font-weight: 700;
}
